---
---

@import "bootstrap";
@import "{{ site.theme }}";

body {
  font-size: 18px;
  color: #000000;
}

blockquote {
  border-left: 4px solid #38c2d6;
  font-style: italic;
  color: #555;
}

#project_title {
  text-align: center;
}
#project_title a {
  color: white;
  text-decoration: none;
}

#project_title a:hover {
  text-decoration: none;
}

#project_title a:hover span.epam-style-bracket {
  color: #47e7ff;
}

#main_content {
  max-width: 900px;
}

.inner {
  max-width: 1000px;
}

#main_content_wrap {
  min-height: 800px;
}

#forkme_banner {
  display: none;
}

#main_content_wrap {
  background: #fdfdfd;
}

img {
  max-width: 840px;
}

#header_wrap .inner {
  padding: 30px 10px 0px 10px;
}

header span.epam-style-bracket {
  color: #37c2d7;
}

.navbar-default {
  margin-top: 30px;
  margin-bottom: 5px;
}

.dropdown-toggle {
  color: #000000;
}

.dropdown-menu > li > a {
  font-size: 18px;
  padding: .5rem 2rem;
}