---
---

@import "{{ site.theme }}";
body {
  font-size: 18px;
}

#main_content {
  max-width: 840px;
}

.inner {
  max-width: 900px;
}

#forkme_banner {
  display: none;
}

#main_content_wrap {
  background: #fdfdfd;
}

img {
  max-width: 840px;
}

#header_wrap .inner {
  padding: 20px 10px;
}